{% extends 'template.html' %} {% block content %}

<div class="mb-4">
  <a href="/hospital" class="btn bg-red-700 text-white px-4 py-2 rounded">Volver</a>
</div>
<h2 class="text-indigo-300 p-4 text-center text-2xl font-bold">Administrar Hospitales</h2>
<div class="booking-form-body bg-gray-900 p-6 rounded-lg shadow-lg">
  <div class="flex flex-wrap">
    <div class="flex flex-col w-full lg:w-2/3 p-2">
      <div class="card p-4 m-2 text-center bg-gray-800 text-white rounded-lg shadow-md w-full">
        <div class="card-header mb-4">
          <h5 class="text-lg font-semibold text-white">Agregar Adyacencia</h5>
        </div>
        <div class="card-body">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 px-2 mb-4 lg:mb-0">
              <span>ORIGEN</span>
              <select id="origen" class="form-control bg-gray-700 border-none text-white mt-2 w-full">
                {% for item in lista %}
                <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="w-full lg:w-1/2 px-2">
              <span>DESTINO</span>
              <select id="destino" class="form-control bg-gray-700 border-none text-white mt-2 w-full">
                {% for item in lista %}
                <option value="{{item.id}}">{{item.nombre}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full lg:w-1/3 p-2">
      <div class="card p-4 m-2 text-center bg-gray-800 text-white rounded-lg shadow-md w-full flex flex-col">
        <a href="#" id="agregar_adyacencia" class="btn bg-blue-500 text-white px-4 py-2 rounded w-full mb-2">Agregar Adyacencia</a>
        <a href="#" id="cargar_json" class="btn bg-green-500 text-white px-4 py-2 rounded w-full mb-2">Cargar Grafo</a>
        <a href="#" id="guardar_json" class="btn bg-purple-500 text-white px-4 py-2 rounded w-full">Guardar Grafo</a>
      </div>
    </div>
  </div>
  <table id="tabla" class="table-auto text-white w-full mt-4" style="table-layout: fixed;">
    <thead class="bg-gray-800">
      <tr>
        <th class="border px-4 py-2">-----</th>
        {% for item in lista %}
        <th class="border px-4 py-2">{{item.nombre}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in lista %}
      <tr class="bg-gray-700">
        <td class="border px-4 py-2 text-center">{{item.nombre}}</td>
        {% for _ in lista %}
        <td class="border px-4 py-2 text-center" contenteditable="true">----</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(() => {
    $("#agregar_adyacencia").on("click", handleAddDistance);
    $("#cargar_json").on("click", handleLoadJson);
    $("#guardar_json").on("click", handleSaveJson);
  });

  const handleAddDistance = () => {
    let origen = $("#origen").val();
    let destino = $("#destino").val();
  
    if (origen == destino) {
      alert("No se puede agregar una distancia entre el mismo lugar");
      return;
    }
  
    let url = `/hospital/guardar_distancia/${origen}/${destino}`;
    $.ajax({
      method: "POST",
      url: url,
      dataType: "json",
      success: function(response) {
        actualizarTabla(origen, destino, response.distancia);
        actualizarTabla(destino, origen, response.distancia);
      },
      error: function(error) {
        console.error("Error en la solicitud AJAX:", error);
      }
    });
  }

  function handleLoadJson() {
    $.ajax({
      url: "/hospital/cargar_json", 
      method: "GET",
      dataType: "json",
      success: function(data) {
        reconstruirTablaDesdeJson(data);
      },
      error: function(error) {
        console.error("Error al cargar el JSON:", error);
      }
    });
  }

  function handleSaveJson() {
    $.ajax({
      url: "/hospital/guardar_json",
      method: "POST",
      contentType: "application/json",
      data: JSON.stringify(obtenerMatrizDesdeTabla()),
      dataType: "json",
      success: function(response) {
        alert(response.message);
      },
      error: function(error) {
        console.error("Error al guardar el JSON:", error);
      }
    });
  }

  function actualizarTabla(origen, destino, distancia) {
    let tabla = document.getElementById('tabla');
    let filas = tabla.rows;

    let filaOrigen = filas[parseInt(origen)];
    let celdaDestino = filaOrigen.cells[parseInt(destino)];

    if (typeof distancia === 'number' && !isNaN(distancia)) {
      celdaDestino.textContent = distancia
    } else {
      console.error("La distancia recibida no es un número válido:", distancia);
    }
  }

  function actualizarTablaDesdeJson(data) {
    let tabla = document.getElementById('tabla');
    let filas = tabla.rows;

    data.hospital.forEach(function(edge) {
      let origen = edge.vertice;
      let destino = edge.destino;
      let distancia = edge.peso;

      let filaOrigen = filas[parseInt(origen)];
      let celdaDestino = filaOrigen.cells[parseInt(destino)];

      if (typeof distancia === 'string' && !isNaN(parseFloat(distancia))) {
        celdaDestino.textContent = distancia
      } else {
        console.error("La distancia en el JSON no es un número válido:", distancia);
      }
    });
  }

  function obtenerMatrizDesdeTabla() {
    let tabla = document.getElementById('tabla');
    let filas = tabla.rows;
    let matriz = { hospital: [] };

    for (let i = 1; i < filas.length; i++) {
      let fila = filas[i];
      let nodoOrigen = { vertice: i - 1, destino: [], peso: [] };

      for (let j = 1; j < fila.cells.length; j++) {
        let celda = fila.cells[j];
        let distancia = parseFloat(celda.textContent);

        if (!isNaN(distancia)) {
          nodoOrigen.destino.push(j - 1);
          nodoOrigen.peso.push(distancia.toString());
        }
      }

      matriz.hospital.push(nodoOrigen);
    }

    return matriz;
  }

  function reconstruirTablaDesdeJson(data) {
    let tabla = document.getElementById('tabla');
    let filas = tabla.rows;
  
    for (let i = 1; i < filas.length; i++) {
      let fila = filas[i];
      for (let j = 1; j < fila.cells.length; j++) {
        fila.cells[j].textContent = "----";
      }
    }
  
    data.hospital.forEach(function(edge) {
      let origen = edge.vertice;
      let destinos = edge.destino;
      let distancias = edge.peso;
  
      if (destinos.length !== distancias.length) {
        console.error("Error: La cantidad de destinos no coincide con la cantidad de distancias.");
        return;
      }
  
      for (let i = 0; i < destinos.length; i++) {
        let destino = destinos[i];
        let distancia = distancias[i];
  
        if (typeof distancia === 'string' && !isNaN(parseFloat(distancia))) {
          let filaOrigen = filas[parseInt(origen) + 1];  
          let celdaDestino = filaOrigen.cells[parseInt(destino) + 1];  
          celdaDestino.textContent = distancia;
        } else {
          console.error("La distancia en el JSON no es un número válido:", distancia);
        }
      }
    });
  }

</script>

{% endblock %}
